<ul>
    <li *ngFor="let setting of settings" class="disabled">
        <span>{{setting.description || setting.name}}</span>
        <span class="me-1">:</span>
        <span *ngIf="setting.dataType === 'bool'">
            <span *ngIf="setting.value === '1'">
                <span>yes</span>
            </span>
            <span *ngIf="setting.value === '0'">
                <span>no</span>
            </span>
        </span>
        <span *ngIf="setting.dataType != 'bool'">
            <span>{{setting.value || '---'}}</span>
        </span>
    </li>
</ul>


<div id="balls" style="display: none">
    <span class="flex w-3 h-3 me-3 bg-gray-200 rounded-full"></span>
    <span class="flex w-3 h-3 me-3 bg-green-500 rounded-full"></span>
    <span class="flex w-3 h-3 me-3 bg-red-500 rounded-full"></span>
    <span class="flex w-3 h-3 me-3 bg-yellow-300 rounded-full"></span>

    <span class="flex items-center text-sm font-medium text-gray-900 me-3"><span class="flex w-2.5 h-2.5 bg-blue-600 rounded-full me-1.5 shrink-0"></span>Visitors</span>
    <span class="flex items-center text-sm font-medium text-gray-900 dark:text-white me-3"><span class="flex w-2.5 h-2.5 bg-purple-500 rounded-full me-1.5 shrink-0"></span>Sessions</span>
    <span class="flex items-center text-sm font-medium text-gray-900 dark:text-white me-3"><span class="flex w-2.5 h-2.5 bg-indigo-500 rounded-full me-1.5 shrink-0"></span>Customers</span>
    <span class="flex items-center text-sm font-medium text-gray-900 dark:text-white me-3"><span class="flex w-2.5 h-2.5 bg-teal-500 rounded-full me-1.5 shrink-0"></span>Revenue</span>
    

</div>


